host 		*.pizzacoca.fr
User 		wuser
HostName 	localhost
IdentityFile 	/home/florian/.ssh/ponos_rsa

Host 		luminous.pizzacoca.fr
port 		22223

Host 		grenier.pizzacoca.fr
port 		22224


Host 		natacha.pizzacoca.fr
port 		22225

Host 		pizzaronce.pizzacoca.fr
port 		22226
User 		florian

Host 		pizzamachine.pizzacoca.fr
port 		22228



